/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 1.1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body, html {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  background-color: #fff; }

html {
  font-size: 16px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 985px;
  margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

button, input {
  border: none; }

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 80px; }

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f7f9;
  height: 35px;
  margin-bottom: 40px; }

.contact__img {
  padding-right: 8px; }

.contact__text {
  color: #444444;
  font-size: 11px; }

.header__welcome {
  color: #444444;
  font: 400 12px 'Bitter'; }
  .header__welcome a {
    color: #78c4cd; }

.header__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px; }

.lang__link {
  font-size: 11px;
  color: #444444;
  text-transform: uppercase;
  padding: 13px 12px 9px 12px;
  background: #e6e9ed;
  margin-right: 2px; }

.lang__link_active, .currency__link_active {
  background: #78c4cd;
  color: #fff; }

.currency {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.currency__link {
  font: 400 13px 'Bitter';
  color: #444444;
  padding: 13px 10px 9px 10px;
  background: #e6e9ed;
  margin-left: 2px; }

.currency__link_active {
  background: #78c4cd;
  color: #fff; }

.header__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px; }

.logo__pic {
  display: block;
  max-width: 135px;
  max-height: 70px; }

.search__form {
  position: relative; }

.search__input {
  padding: 12px 24px 12px 8px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 225px; }

.search__submit {
  background: url(../img/search.png) no-repeat;
  border: none;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 14px;
  right: 8px; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__text {
  color: #444444;
  font-size: 12px;
  text-transform: capitalize; }

.menu__link {
  padding: 0 15px;
  border-right: 1px solid #ccc; }

.menu__link_border {
  border-right: none; }

.menu__link_iconed {
  background-color: #f1f3f5;
  border: none;
  padding: 10px 10px 12px 10px; }

.nav {
  height: 57px;
  background: #f5f7f9;
  margin-bottom: 20px; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__link {
  font: 400 14px 'Bitter';
  text-transform: uppercase;
  color: #444444;
  padding: 20px;
  display: block; }

.nav__link_active {
  background: #78c4cd;
  color: #fff;
  padding: 20px; }

.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px; }

.slider__list-wrap {
  width: 985px;
  height: 480px;
  overflow: hidden; }
  .slider__list-wrap:after {
    content: '';
    display: block;
    clear: both; }

.slider__list {
  width: 20000px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 0px; }

.slider__controls-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.7) url(../img/arrow_right.png) no-repeat;
  width: 42px;
  height: 42px; }

.slider__controls-button_next {
  right: 0;
  position: absolute; }

.slider__controls-button_pre {
  position: absolute; }

.hero {
  background: #ccc url(../img/hero-bg.jpg) no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 480px; }

.hero__img, .hero__about {
  width: 500px; }

.hero__img-pic {
  position: absolute;
  bottom: -18px;
  left: 38px; }

.hero__title {
  margin-top: 60px;
  margin-bottom: 18px; }

.title {
  font: 400 36px 'Bitter';
  color: #222;
  text-transform: capitalize;
  display: inline-block;
  padding: 7px 10px;
  background-color: rgba(255, 255, 255, 0.7); }

.hero__desc {
  width: 70%;
  color: #222;
  font: 400 16px 'Bitter'; }
  .hero__desc span {
    text-transform: capitalize; }
  .hero__desc p {
    margin-bottom: 2px; }

.hero__desc-text {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 7px 12px 9px; }

.about {
  margin-bottom: 70px; }

.about__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.about__item {
  width: 100%;
  margin-right: 25px; }
  .about__item:last-child {
    margin-right: 0; }

.about__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  padding: 15px; }

.about__img {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 18px; }

.about__title {
  font: 400 24px 'Bitter';
  color: #444444; }

.about__text {
  font-size: 20px;
  color: #808080; }

/*# sourceMappingURL=style.css.map */
